__pycache__/
build/
*.egg-info
dist/
.vscode/

*.pt
*.json
*.svg
*.log
fusion_result.json
*.so
*.ncu-rep
*.nsys-rep
test/tune/
results/*
data/*
**/tmp/*
**/outputs/*
**/.cache/*

!calibration_qwen.pt
!calibration_llama.pt
!prof_llama/*
!prof_qwen/*