possible_paths=(
    # Local A100 Server.
    "/data/share/models/quant_model"
    # Remote Cloud Server.
    "/test/models/quant_model"
)
root_path=""
for path in "${possible_paths[@]}"; do
    if [ -d "$path" ]; then
        root_path=$path
        break
    fi
done

model_path_quant_qwen2=$root_path"/edq_model_Qwen2.5-7B-Instruct"
model_path_quant_llama=$root_path"/edq_model_Llama3-8B"